<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/rahul/IdeaProjects/LearningSeleniumATB6x/src/test/java/Selenium/mini_Project_Practice"><classes><class name="Selenium.mini_Project_Practice.Indrive360"><methods><include name="verifySignUp"/></methods></class><class name="Selenium.mini_Project_Practice.Katalon_CURA"><methods><include name="makeAppointment"/></methods></class><class name="Selenium.mini_Project_Practice.VWO_Application"><methods><include name="verifyValidUserAndPass"/></methods></class></classes></test></suite>